.span6#main
  %h2 About
  %p
    %b Screws
    are dances at Yale where you don't find your own date—instead, your roommate sets you up. While fun and often hilarious, Screws present a large coordination problem that some simply don't have time to deal with.
  %p 
    To help, there's Screw Me Yale. But since SMY is only accessible to Yale Undergrads, I've created this demo site so everyone can enjoy the screwing experience.
  %p 
    %b Step 1:
    Pick your favorite politician / talking head (your 'screw-ee') from the input box on the 
    %a{:href => "/home"} the home page
    \. A list of options will automatically appear when you start typing!
  %p 
    %b Step 2:
    After specifying their event and party intensity, click 'match' and browse a list of potential dates for them! Everyone has their preferences, so the match page only shows people whose party matches your screw-ee's preferences.
  %p 
    %b Step 3:
    If you see someone who's a good fit for your screw-ee, click their name to send a request. If your screw-ee has requests, you'll see it on the home page and you can accept or deny on their behalf!
  %br
  %h3{:style => "text-align: center;"} Press
  %p 
    Screw Me Yale recently got a 
    %a{:href=> "http://www.yaledailynews.com/news/2012/oct/05/new-app-eases-screw-season-pains/?cross-campus", :target =>"_blank"} shoutout
    in the Yale Daily News,
    %br
    and in April 2012, 
    %a{:href=> "http://www.yaledailynews.com/news/2012/apr/19/cross-campus-41912/", :target =>"_blank"} placed 3rd
    in the Yale College Council App Challenge!
  -#
    %img.screenshot{:src => "/assets/ss1.png"}
    %img.screenshot{:src => "/assets/ss2.png"}

  #bbottom
    %span.pull-right 
      By 
      %a{:href => "http://rafikhan.me", :target => "_blank"} Rafi Khan