.span6#main
  %h2 
    Welcome to the demo site for 
    %a{:href => "http://screwmeyale.com", :target => "_blank"} Screw Me Yale
    !
  %br
  %p This site implements the same functionality—matchmaking your friends for a blind date—but instead of Yale students, we're going to use your favorite characters in Washington (and the people who like to yell at them).
  %p 
    Well now, you can make sure that at least your roommate has a great time at screw, and save yourself a lot of hassle. With 
    %a{:href => "/"} Screw Me Yale
    you can find and match screw dates easier than ever.
  #bottom
    %span.btn.btn-success Let's screw Washington!
  #bbottom
    %a.pull-left{:href => "/about", :style=> "margin-right: 10px;"} About Screw Me Yale
    %a.pull-left{:href => "http://www.yaledailynews.com/news/2012/oct/05/new-app-eases-screw-season-pains/?cross-campus", :target =>"_blank"} Press for Screw Me Yale
    %span.pull-right 
      By 
      %a{:href => "//faiazkhan.com", :target => "_blank"} Rafi Khan