.span6#main
  %h2 Welcome to the demo site for Screw Me Yale!
  %br
  %p Screws at Yale are blind-date dances; you set your roommate up with someone, and they set you up. Of course, this presents a huge coordination problem, with students rushing to find dates, last-minute cancellations and frantic phone calls.
  %p 
    To help, there's
    %a{:href => "http://screwmeyale.com", :target => "_blank"} Screw Me Yale
    \. This demo site is to replicate the functionality—matchmaking for blind-dates—for non-Yale students, but instead of students, we'll use your favorite characters from in and around Washington. 
  %p 
    Want to set up Dick Cheney and Newt Gingrich to go to the State of the Union together? Now you can—just click the button below!
  
  #bottom
    %a.btn.btn-success{:href => "/home"} Let's screw Washington!
  %br
  #bbottom
    %a.pull-left{:href => "/about", :style=> "margin-right: 10px;"} About 
    %a.pull-left{:href => "http://www.yaledailynews.com/news/2012/oct/05/new-app-eases-screw-season-pains/?cross-campus", :target =>"_blank"} Press for Screw Me Yale
    %span.pull-right 
      By 
      %a{:href => "http://rafikhan.me", :target => "_blank"} Rafi Khan