- text = "<p>We're glad you think #{m.nickname}'s cute, but no one's screwing them right now. If you really want 'em, you have to go get 'em all on your own ;)</p>"
- sup = ""
.unmatch_link{"data-toggle"=>"modal", :href => "#unmatch_modal", "text" => text, "name" => m.fullname, "gen" => m.par, "pref" => m.pref, "picture" => m.picture, "major" => m.profession, :style => "display: inline-block;"}
  .match.red-glow
    %img.match_image{:src => m.picture}
    .match_info
      %b= m.nickname
      %br
      = m.lname
      .tiny= m.profession
      
