- m = sc.screw
%a.match_link{"data-toggle"=>"modal", :href => "#match_modal", "name" => m.fullname, "event" => sc.event, "intensity" => sc.intensity, "gen" => m.par, "pref" => m.pref, "picture" => m.picture, "major" => m.profession, "sc_id" => sc.id}
  .match.blue-glow
    %img.match_image.round{:src => m.picture}
    .match_info
      %b= m.nickname
      %br
      = m.lname
      .tiny
        %b= m.profession
        %br
        Intensity:
        %b= sc.intensity